<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Analisis</title>
</head>
<body >
    <div class="container mt-4">
        <h1>Resultados del analizador</h1> <br>
        <table class="table">
            <tr>
                <th>Producciones</th>
                <th>Simbolos</th>
                <th>Regla</th>
            </tr>
            {% for estado in estados %}
            <tr> 
                <td>{{estado[0]}}</td>
                <td>{{estado[1]}}</td>
                <td class="lead" style="font-weight: 50;">{{estado[2]}}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</body>
</html>