<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Analizador</title>
</head>
<body>
    <div class = "container mt-4">
        <h1>Bienvenido al proyecto pequeño C</h1>
        <p> En las siguientes direcciones podrá acceder al analizador lexico y sintactico del lenguaje. </p>
        <a href="lexico">Lexico</a>
        <br>
        <a href="/sintactico">sintactico</a>
    </div>
</body>
</html>