<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Analizador</title>
</head>
<body>
    <div class = "container mt-4">
        <h1>Bienvenido al analizador Lexico</h1>
        <p>Ingrese en el formulario de abajo el programa y obtendrá los tokens del mismo. </p>
        <form action="" method="post"  >
            <textarea class="mx-auto" name="codigo" id="codigo" cols="100" rows="18" style="display:block"></textarea>
            <br><br>
            <button type="submit" class="mx-auto" style="display: block;">Enviar</button>
        </form>
    </div>
</body>
</html>